<?xml version='1.0' encoding='utf-8'?>
<plugin 
    id="cordova-plugin-docway-video"
    version="0.16.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>Docway Video Conversation Plugin</name>
    <license></license>
    <js-module name="docway-solution" src="conversation.js">
        <clobbers target="cordova.docway.video" />
    </js-module>
    <engines>
        <engine name="cordova" version=">=4.5.3" />
    </engines>
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
			<feature name="VideoConversationPlugin">
                <param name="ios-package" value="DocwayVideoPlugin" />
            </feature>
        </config-file>
        <source-file src="src/ios/TimerController.m" />
        <header-file src="src/ios/TimerController.h" />
        <source-file src="src/ios/DocwayVideoPlugin.m" />
        <source-file src="src/ios/DocwayVideoViewController.m" />
        <header-file src="src/ios/DocwayVideoViewController.h" />
        <source-file src="src/ios/CancelAlertViewController.m" />
        <header-file src="src/ios/CancelAlertViewController.h" />
        <resource-file src="src/ios/Resources/ic-phone.png" target="Resources/ic-phone.png" />
        <resource-file src="src/ios/Resources/ic-video.png" target="Resources/ic-video.png" />
        <resource-file src="src/ios/Resources/ic-reverse.png" target="Resources/ic-reverse.png" />
        <resource-file src="src/ios/Resources/ic-video-off.png" target="Resources/ic-video-off.png" />
        <resource-file src="src/ios/Resources/ic-microphone.png" target="Resources/ic-microphone.png" />
        <resource-file src="src/ios/Resources/MavenPro-Medium.ttf" target="Resources/MavenPro-Medium.ttf" />
        <resource-file src="src/ios/Resources/MavenPro-Regular.ttf" target="Resources/MavenPro-Regular.ttf" />
        <resource-file src="src/ios/Resources/ic-microphone-off.png" target="Resources/ic-microphone-off.png" />
        <resource-file src="src/ios/Resources/DocwayVideo.storyboard" target="Resources/DocwayVideo.storyboard" />
        <preference name="CAMERA_USAGE_DESCRIPTION" default="Camera" />
        <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
            <string>$CAMERA_USAGE_DESCRIPTION</string>
        </config-file>
        <preference name="MICROPHONE_USAGE_DESCRIPTION" default="Microphone"/>
        <config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
            <string>$MICROPHONE_USAGE_DESCRIPTION</string>
        </config-file>
        <config-file target="*-Info.plist" parent="UIAppFonts">
            <array>
                <string>MavenPro-Medium.ttf</string>
                <string>MavenPro-Regular.ttf</string>
            </array>
        </config-file>
        <framework src="src/ios/frameworks/Build/iOS/TwilioVideo.framework" custom="true" embed="true" />
        <framework src="AudioToolbox.framework" />
        <framework src="VideoToolbox.framework" />
        <framework src="AVFoundation.framework" />
        <framework src="CoreTelephony.framework" />
        <framework src="GLKit.framework" />
        <framework src="CoreMedia.framework" />
        <framework src="SystemConfiguration.framework" />
        <framework src="libc++.tbd" />
    </platform>
    <platform name="android">
        <hook type="after_plugin_install" src="hooks/after_plugin_install/hook-add-r-import.js" />
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="VideoConversationPlugin">
                <param name="android-package" value="com.docway.video.VideoConversationPlugin" />
            </feature>
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-feature android:name="android.hardware.camera" />
			<uses-feature android:name="android.hardware.camera.autofocus" />
			<uses-feature android:glEsVersion="0x00020000" android:required="true" />
            <uses-permission android:name="android.permission.CAMERA" />
            <uses-permission android:name="android.permission.INTERNET" />
            <uses-permission android:name="android.permission.RECORD_AUDIO" />
            <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
        </config-file>
        <config-file target="AndroidManifest.xml" parent="/manifest/application">
            <receiver android:name="com.docway.video.VideoCallReceiver">
				<intent-filter>
					<action android:name="android.intent.action.HEADSET_PLUG"/>
				</intent-filter>
			</receiver>
			<activity 
                android:name="com.docway.video.ConversationActivity"
                android:configChanges="orientation|screenSize" 
                android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            </activity>
        </config-file>
        <source-file src="src/android/VideoConversationPlugin.java" target-dir="src/com/docway/video" />
        <source-file src="src/android/ConversationActivity.java" target-dir="src/com/docway/video" />
        <source-file src="src/android/EndCallDialog.java" target-dir="src/com/docway/video" />
		<source-file src="src/android/VideoCallReceiver.java" target-dir="src/com/docway/video" />
        <framework src="src/android/docwayvideo.gradle" custom="true" type="gradleReference" />
        <dependency id="cordova-plugin-compat" />
        
        <resource-file src="src/android/res/drawable/ic_cam_off.xml" target="res/drawable/ic_cam_off.xml" />
        <resource-file src="src/android/res/drawable/ic_cam_on.xml" target="res/drawable/ic_cam_on.xml" />
        <resource-file src="src/android/res/drawable/ic_end_call.xml" target="res/drawable/ic_end_call.xml" />
        <resource-file src="src/android/res/drawable/ic_microphone_off.xml" target="res/drawable/ic_microphone_off.xml" />
        <resource-file src="src/android/res/drawable/ic_microphone_on.xml" target="res/drawable/ic_microphone_on.xml" />
        <resource-file src="src/android/res/drawable/ic_switch_camera.xml" target="res/drawable/ic_switch_camera.xml" />
        <resource-file src="src/android/res/drawable/shape_end_call.xml" target="res/drawable/shape_end_call.xml" />
        <resource-file src="src/android/res/drawable/shape_end_call_negative.xml" target="res/drawable/shape_end_call_negative.xml" />
        <resource-file src="src/android/res/drawable/shape_end_call_positive.xml" target="res/drawable/shape_end_call_positive.xml" />

		<resource-file src="src/android/res/font/maven_pro.xml" target="res/font/maven_pro.xml" />
		<resource-file src="src/android/res/font/maven_pro_medium.xml" target="res/font/maven_pro_medium.xml" />
		
        <resource-file src="src/android/res/layout/activity_video.xml" target="res/layout/activity_video.xml" />
        <resource-file src="src/android/res/layout/content_video.xml" target="res/layout/content_video.xml" />
        <resource-file src="src/android/res/layout/dialog_end_call.xml" target="res/layout/dialog_end_call.xml" />
      
        <resource-file src="src/android/res/values/colors.xml" target="res/values/colors.xml" />
        <resource-file src="src/android/res/values/dimens.xml" target="res/values/dimens.xml" />
        <resource-file src="src/android/res/values/font_certs.xml" target="res/values/font_certs.xml" />
        <resource-file src="src/android/res/values/preloaded_fonts.xml" target="res/values/preloaded_fonts.xml" />
        <resource-file src="src/android/res/values/strings.xml" target="res/values/strings.xml" />
        <resource-file src="src/android/res/values/styles.xml" target="res/values/styles.xml" />

        <resource-file src="src/android/res/values-v21/styles.xml" target="res/values-v21/styles.xml" />
        <resource-file src="src/android/res/values-w820dp/dimens.xml" target="res/values-w820dp/dimens.xml" />

    </platform>
</plugin>
